{:paths ["src" "resources"]
 :deps {ring/ring-core {:mvn/version "1.9.5"}
        ring/ring-jetty-adapter {:mvn/version "1.9.5"}
        ring/ring-defaults {:mvn/version "0.3.3"}
        compojure/compojure {:mvn/version "1.7.0"}
        hiccup/hiccup {:mvn/version "1.0.5"}
        io.github.noprompt/garden {:git/tag "v1.3.10", :git/sha "16a3901"}
        com.layerware/hugsql-core {:mvn/version "0.5.3"}
        com.layerware/hugsql-adapter-next-jdbc {:mvn/version "0.5.3"}
        org.postgresql/postgresql {:mvn/version "42.2.26"}
        com.github.seancorfield/next.jdbc {:mvn/version "1.2.796"}
        com.zaxxer/HikariCP {:mvn/version "3.3.1"}
        org.slf4j/slf4j-reload4j {:mvn/version "2.0.0"}}

 :aliases
 {:migrate
  {:extra-deps {io.github.paulbutcher/clj-migratus {:git/tag "v1.0.3", :git/sha "46a3ac1"}
                io.github.yogthos/migratus {:git/tag "v1.4.0", :git/sha "108c044"}}
   :main-opts ["-m" "clj-migratus"]}}}
