{:paths ["src" "resources"]
 :deps {ring/ring-core {:mvn/version "1.9.5"}
        ring/ring-jetty-adapter {:mvn/version "1.9.5"}
        ring/ring-defaults {:mvn/version "0.3.4"}
        compojure/compojure {:mvn/version "1.7.0"}
        hiccup/hiccup {:mvn/version "1.0.5"}
        io.github.noprompt/garden {:git/tag "v1.3.10", :git/sha "16a3901"}
        com.layerware/hugsql-core {:mvn/version "0.5.3"}
        com.layerware/hugsql-adapter-next-jdbc {:mvn/version "0.5.3"}
        org.postgresql/postgresql {:mvn/version "42.2.26"}
        com.github.seancorfield/next.jdbc {:mvn/version "1.2.796"}
        com.zaxxer/HikariCP {:mvn/version "3.3.1"}
        org.slf4j/slf4j-reload4j {:mvn/version "2.0.0"}
        mount/mount {:mvn/version "0.1.16"}
        org.clojure/tools.cli {:mvn/version "1.0.206"}
        org.apache.commons/commons-email {:mvn/version "1.5"}
        org.clojure/core.async {:mvn/version "1.6.673"}
        io.github.yogthos/migratus {:git/tag "v1.4.0", :git/sha "108c044"}
        lynxeyes/dotenv {:mvn/version "1.1.0"}}

 :aliases
 {:build
  {:deps {io.github.clojure/tools.build {:git/tag "v0.8.3" :git/sha "0d20256"}}
   :ns-default build}

  :repl
  {:paths ["src" "dev" "resources"]
   :extra-deps {org.clojure/tools.namespace {:mvn/version "1.3.0"}
                juxt/dirwatch {:mvn/version "0.2.5"}}}

  :migrate
  {:extra-deps {io.github.paulbutcher/clj-migratus {:git/tag "v1.0.3", :git/sha "46a3ac1"}}
   :main-opts ["-m", "clj-migratus"]}}}
