{:paths ["src" "resources"]
 :deps {ring/ring-core {:mvn/version "1.9.5"}
        ring/ring-jetty-adapter {:mvn/version "1.9.5"}
        ring/ring-defaults {:mvn/version "0.3.3"}
        compojure/compojure {:mvn/version "1.7.0"}
        hiccup/hiccup {:mvn/version "1.0.5"}
        io.github.noprompt/garden {:git/tag "v1.3.10", :git/sha "16a3901"}
        com.layerware/hugsql {:mvn/version "0.5.3"}
        org.postgresql/postgresql {:mvn/version "42.2.26"}}

 :aliases
 {:migrate
  {:deps {io.github.yogthos/migratus {:git/tag "v1.4.0", :git/sha "108c044"}}
   :exec-fn com.tylerkindy.synchro.migrations/migrate}}}
